config.yaml
__pycache__
config-c.yaml
config-r.yaml
output-celebrity.txt
output-json-celebrity.txt
output-json-royal.txt
output-royal.txt
.DS_Store
output.txt
output-json-watch.txt
*.db
*.db-wal
*.db-shm
build/
dist/
